<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <style>
    </style>
</head>
<body>
    <p id="username" style="display: none;">{{ username }}</p>
    <div class="main flex flex-col h-dvh w-full">
        <div class="header flex justify-center items-center p-2 flex-col border border-b-gray-200">
            <div class="flex gap-2 p-1 items-center rounded-xl">
                <i class="fas fa-angle-down"></i>
                <p class="text-2xl text-black font-['Inter'] font-medium">{{ username }}</p>
            </div>
            <div class="additional-accs border border-gray-200 p-2 w-6/12 rounded-xl" style="display: none;">

            </div>
            
        </div>
        <div class="content grow flex flex-col items-center p-2">
            <div class="w-8/12 relative flex items-center h-10">
                <i class="fas fa-search absolute top-[50%] translate-y-[-50%] left-2"></i>
                <input type="search" name="input" id="search-account" class="bg-white hover:bg-zinc-50 rounded-full p-2 color-black border border-gray-200 w-full pl-8">
            </div>
            <div class="accounts flex flex-col w-8/12 p-2 gap-2 overflow-auto">
                {% for account in accounts %}
                <div class="account p-2 flex hover:bg-zinc-50 items-center border border-gray-200 rounded-xl gap-1 relative">
                    <div class="aspect-square p-2 rounded-full bg-gray-100 flex flex-col relative">
                        <i class="fas fa-user text-gray-400 text-2xl"></i>
                        <div class="active-indicator bg-green-300 aspect-square w-4 rounded-full absolute self-end bottom-0 right-0"></div>
                    </div>
                    <div class="p-2 h-full ">
                        <p class="account-name text-[16px] text-black font-medium font-['Fredoka'] m-0 p-0">{{ account }}</p>
                    </div>
                    <p class="new-messages text-slate-400 p-2 border border-gray-200 absolute right-4 rounded-xl" style="display: none;">new</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="footer self-end flex w-full border-t border-1 border-gray-200">
            <div class="flex grow justify-around p-2">
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center" onclick="window.location.href = `/main/${document.getElementById('username').textContent}`"><i class="fas fa-home text-2xl"></i></div>
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center"><i class="fas fa-film text-2xl"></i></div>
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center p-2" id="paper-plane" onclick="window.location.href = `/accounts/${document.querySelector('#username').textContent}`"><i class="fas fa-paper-plane text-3xl"></i></div>
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center" id="search" onclick="window.location.href = `/search/${document.getElementById('username').textContent}`"><i class="fas fa-search text-2xl"></i></div>
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center"><img src="https://iili.io/CCYYQkX.md.jpg" alt="" srcset="" class="w-[40px] h-[40px] rounded-full"></div>
            </div>
        </div>
    </div>
    <script src="../static/accounts.js"></script>
</body>
</html>