<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>
    <div class="main w-full h-dvh flex flex-col">
        <div class="header border border-b-gray-200">
            
        </div>
        <div class="content">

        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>