<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<style>
    .logo{
        color: transparent;
        background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
        background-clip: text;
        display: inline-block;
    }
</style>
</head>
<body>
    <p id="username" style="display: none;">{{ username }}</p>
    <div class="main w-full h-dvh flex flex-col">
        <div class="header p-2 border-b border-1 border-gray-200 w-full">
            <h1 class="logo text-3xl font-medium font-['Fredoka']">logo</h1>
        </div>
        <div class="content grow flex justify-center p-2">
            <div class="screen w-6/12 ">
                <div class="search flex items-center relative">
                    <i class="fas fa-search absolute pl-2"></i>
                    <input type="text" name="search" id="search-bar" class="w-full p-2 pl-8 text-black border-1 border-gray-200 rounded-full">
                    <ul class="suggestion-list w-full absolute border-1 border-gray-200 top-11 rounded-xl p-2 flex flex-col gap-2"></ul>
                </div>
            </div>
        </div>
        <div class="footer self-end flex w-full border-t border-1 border-gray-200">
            <div class="flex grow justify-around p-2">
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center" id="home"><i class="fas fa-home text-2xl"></i></div>
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center"><i class="fas fa-film text-2xl"></i></div>
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center p-2" id="paper-plane"><i class="fas fa-paper-plane text-3xl"></i></div>
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center" id="search"><i class="fas fa-search text-2xl"></i></div>
                <div class="h-full aspect-square rounded-full hover:bg-slate-200 flex items-center justify-center"><i class="fas fa-bars text-2xl"></i></div>
            </div>
        </div>
    </div>
    <script src="../static/search.js"></script>
</body>
</html>